{% extends "base.html" %}

{% block content %}
<center>
    <div style="border: 3px solid rgb(229, 230, 230); margin-top: 30px; margin-right: 20px; margin-left: 20px;">
    <h1 style="margin-top: 9px; font-family: 'Acme', sans-serif;">Login</h1>
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label}}<br />
            {{ form.username(size=25, class_="form-control w-50")}}
            {% for error in form.username.errors %}
               <br /> <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label}}<br />
            {{ form.password(size=25, class_="form-control w-50")}}
            {% for error in form.password.errors %}
               <br /> <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me()}} {{ form.remember_me.label }}</p>
        <p> {{ form.submit() }}</p>
    </form>
    <p>
        Forgot Your Password?
        <a href="{{ url_for('auth.reset_password_request') }}" style="color: #1927f0">Click to Reset It</a>
    </p>
    <p>New user? <a href="{{ url_for('auth.register')}}" style="color: #1927f0">Click to Register</a></p>
    </div></center>
{% endblock content %}