{% extends "base.html" %}

{% block content %}
<div style="border: 3px solid rgb(229, 230, 230); margin-top: 30px; margin-right: 20px; margin-left: 20px; padding-left: 20px;">
    <h1 style="margin-top: 9px; font-family: 'Acme', sans-serif;">Password Reset</h1>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=26) }}<br>
            {% for error in form.email.errors %}
            <span style="color:red">{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    </div>
{% endblock content %}