{% extends "base.html" %}

{% block css %}
<style>
    .messages-container{
        max-height: 100px;
        overflow-y: auto;
        width: 500px;
        border: 1px solid blue;
    }
</style>
{% endblock css %}

{% block content %}
    <h1>Messages</h1>
    {% for user in current_user.followed %}
        <a href="{{ url_for('chat.chat', username=user.username) }}">{{ user.username }}</a><br>
    {% endfor %}
    {% if recipient is not none %}
        <div id="messages" class="messages-container"></div>
        <input type="text" id="messagebox"/>
        <button onclick="sendMessage()">Send</button>
    {% endif %}
{% endblock content %}

{% block js_scripts %}
    <script>
        let channelID = null;
        let channelName = null;
        let senderChatChannel = null;
        let recipientChatChannel = null;

        var pusher = new Pusher('04587cc4f2fd0ca4213c', {
                cluster: 'ap2',
                forceTLS: true,
                authEndpoint: "/chat/pusher/auth"
            });
        

        $(function(){
            (function requestChat(){
                $.ajax({
                    url: "/chat/request_chat",
                    method: "POST",
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        recipient_id: {{ recipient.id }}
                    })
                }).done(function(data){
                    channelID = data.channel_id
                    channelName = data.channel_name;
                    senderChatChannel = data.sender_chat_channel;
                    recipientChatChannel = data.recipient_chat_channel

                    getMessagesInChannle();
                    subscribeToPusher();
                })
            })();
    
        })

        function getMessagesInChannle(){
            $.ajax({
                url: `/chat/get_message/${channelID}`,
                method: 'GET',
                dataType: 'json',
                contentType: 'application/json',
            }).done(function(data){
                data.forEach(function(messageObj){
                    $('#messages').append(`<p>${messageObj.message}</p>`)
                })
            })
        }

        function subscribeToPusher() {
            var channel = pusher.subscribe(senderChatChannel);
            channel.bind('new_message', function (data) {
                $('#messages').append(`<p>${data.message}</p>`)
            });
        }

        function sendMessage(event){
            let message = $('input#messagebox').val()
            $.ajax({
                url: '/chat/send_message',
                method: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({
                    channel : channelID,
                    message : message,
                    sender_id: {{ current_user.id }},
                    recipient_id : {{ recipient.id }},
                    recipient_chat_channel: recipientChatChannel,
                })
            }).done(function(data){
                $('#messages').append(`<p>${data.message}</p>`)
                $('input#messagebox').val("")
            })
        }

    </script>
{% endblock js_scripts %}