.chat-users{
    display: flex;
    flex-direction: column;
    padding: 0;
}
.chat-users .chat-users__item{
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 10px 5px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.chat-user-active{
    border: 1px solid #5271ff;
    box-shadow: 2px 2px #5271ff;
}
.chat-user__image{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.messages-container, .messages-container-dummy{
    height: 400px;
    overflow-y: auto;
    width: 100%;
    padding: 20px;
    border: 1px solid lightgray;
    margin-bottom: 10px;
}
.messages-container-dummy{
    background: #f9f9f9;
    font-size: 20px;
}
button.send-button{
    display: inline-block;
    background: #5271ff;
    color: #fff;
    border: none;
    height: 40px;
    margin: 0;
    padding: 10px 20px;
    -moz-border-radius: 2px;
    cursor: pointer;
}
.border-red{
    border: 1px solid red;
}
.min-height-500{
    min-height: 500px;
}
.message-area{
    display: flex;
}
#messagebox{
    flex: 1;
    height: 40px;
    border: 1px solid lightgray;
    margin: 0;
    outline: none;
    padding-left: 15px;
}
.messages-container::-webkit-scrollbar {
    width: 7px;
}

.messages-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.messages-container::-webkit-scrollbar-thumb {
    background-color: #5271ff;
    outline: 1px solid #5271ff;
}