.user-profile-card{
    display: flex;
    padding: 15px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}
.user-profile-avatar{
    display: flex;
    align-items: center;
}
.user-profile-avatar img{
    height: 220px;
    width: 220px;
    border-radius: 50%;
}
.user-profile-content{
    padding: 15px;
}