{% extends "base.html" %}

{% block content %}
    <h1  style="margin-top: 9px; font-family: 'Acme', sans-serif;"> Hello, {{ current_user.username }}</h1><hr />
    <div>
        {% if form %}
        <form method="POST">
            {{ form.hidden_tag() }}
            <p>
                {{ form.post.label }}<br>
                {{ form.post(cols=32, rows=4) }}<br>
                {% for error in form.post.errors %}
                <span style="color:red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
        {% endif %}
    </div>
    {% for post in posts %}
        {% include "_post.html" %}
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url}}">Newer Posts</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url}}">Older Posts</a>
    {% endif %}
{% endblock content %}
  