{% extends "base.html" %}

{% block content %}
    <h1> Hello {{ current_user.username }}</h1><hr />
    <div>
        {% if form %}
        <form method="POST">
            {{ form.hidden_tag() }}
            <p>
                {{ form.post.label }}<br>
                {{ form.post(cols=32, rows=4) }}<br>
                {% for error in form.post.errors %}
                <span style="color:red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
        {% endif %}
    </div>
    {% for post in posts %}
        {% include "_post.html" %}
    {% endfor %}
{% endblock content %}
  