{%  block css %}

{% endblock css %}
<div class="card-container">
    <div class="py-10">
        <img src="{{ current_user.avatar(128)}}" class="card-profile-pic">
    </div>
    <div style="text-align: center;">
        <a href="{{url_for('core.user', username=current_user.username)}}" class="user-profile-link">@{{ current_user.username}}</a>
        <p class="user-profile-bio">{{ current_user.about_me }}</p>
    </div>
    <div class="user-profile-stats">
        <div class="user-profile-stats__item">
            <div>Posts</div>
            <div class="user-profile-stats__count">{{ current_user.posts.count()}}</div>
        </div>
        <div class="user-profile-stats__item">
            <div>Followers</div>
            <div class="user-profile-stats__count">{{ current_user.followers.count()}}</div>
        </div>
        <div class="user-profile-stats__item">
            <div>Following</div>
            <div class="user-profile-stats__count">{{ current_user.followed.count()}}</div>
        </div>
    </div>
</div>