<div>
    <div>
        <div><img class="img-thumbnail" style="height:40px; width: 40px;"src="{{ user.avatar(128) }}"></div>
        <div>
            <b>{{ user.username }}</b>
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            <p>{{ user.followers.count()}} followers, {{ user.followed.count()}} following.</p>
            {% if user != current_user %}
                {% if current_user.is_following(user) %}
                    {% with user=user %}
                        {% include 'snippets/unfollow_button.html' %}
                    {% endwith %}
                {% else %}
                    {% with user=user %}
                        {% include 'snippets/follow_button.html' %}
                    {% endwith %}
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>