{% extends "base.html" %}

{% block content %}
    <table xmlns="http://www.w3.org/1999/html">
        <tr valign="top">
            <td><img src="{{ user.avatar(128) }}"></td>
            <td>
                <h1>User: {{ user.username }}</h1>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}<p>Last seen on: {{ moment(user.last_seen).format('LLL') }}</p>{% endif %}
                <p>{{ user.followers.count()}} followers, {{ user.followed.count()}} following.</p>
                {% if user == current_user %}
                <p><a href="{{ url_for('core.edit_profile')}}">Edit Profile</a></p>
                {% elif current_user.is_following(user) %}
                <p id="btn-holder"><button type="button" id="unfollow" class="btn btn-info" onclick="stopFollowing()">Unfollow</button></p>
                {% else %}
                <p id="btn-holder"><button type="button" id="follow" class="btn btn-info" onclick="startFollowing()">Follow</button></p>
                {% endif %}
            </td>
        </tr>
    </table>
    <hr>
    {% for post in posts %}
        {% include "_post.html" %}
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url}}">Newer Posts</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url}}">Older Posts</a>
    {% endif %}

    <script>
    function startFollowing() {
        $.ajax({
            url: '{{ url_for('core.follow', username=user.username)}}',
            statusCode: {
                200: function(data) {
                    let btn = document.getElementById('follow');
                    btn.onclick = stopFollowing;
                    btn.id = 'unfollow';
                    btn.innerText = 'Unfollow';
                    console.log('gotem');
                },
                502: function (data) {
                    let btnHolder = document.getElementById('btn-holder');
                    btnHolder.appendChild(document.createTextNode(data['error']));
                }
            }
        })
    }

    function stopFollowing() {
        $.ajax({
            url: '{{ url_for('core.unfollow', username=user.username)}}',
            statusCode: {
                200: function(data) {
                    let btn = document.getElementById('unfollow');
                    btn.onclick = startFollowing;
                    btn.id = 'follow';
                    btn.innerText = 'Follow';
                    console.log('gotem');
                },
                502: function (data) {
                    let btnHolder = document.getElementById('btn-holder');
                    btnHolder.appendChild(document.createTextNode(data['error']));
                }
            }
        })
    }
    </script>
{% endblock %}