<table class="table">
    <tr valign="top">
        <td style="border:0px;"><img src="{{ user.avatar(128) }}"></td>
        <td style="border:0px;">
            <h1>User: {{ user.username }}</h1>
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            {% if user.last_seen %}<p>Last seen on: {{ moment(user.last_seen).format('LLL') }}</p>{% endif %}
            <p>{{ user.followers.count()}} followers, {{ user.followed.count()}} following.</p>
            {% if user != current_user %}
                {% if current_user.is_following(user) %}
                <p><a href="{{ url_for('unfollow', username=user.username)}}">Unfollow</a></p>
                {% else %}
                <p><a href="{{ url_for('follow', username=user.username)}}">Follow</a></p>
                {% endif %}
            {% endif %}
        </td>
    </tr>
</table>